body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffff;
     
}
ul li{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: #2E2F42;
}

/*navigation section start*/

.header-navigation-logo {
    font-family: "Raleway"; sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #4D5AE5;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
}

.header-navigation-logo-color{
    font-weight: 700;
    color: #2E2F42;
    
}

.header-navigation-list {}

.header-navigation-list-item {
    font-weight: 500;
    color: #2E2F42;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em
}

.header-contacts {
    font-style: normal;
}

.header-contacts-list {}

.header-contacts-list-item {}

.header-contacts-list-item-number {
    font-weight: 400;
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    
        
}

.header-contacts-list-item-mail{
    font-weight: 400;
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
}
/* navigation section end */

/* hero-banner section start */

.hero-banner{
    background-color: #2E2F42;
}
.hero-banner-title{
    color: #FFFFFF;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
}

.hero-banner-button{
    font-family: "Roboto", sans-serif;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #4D5AE5;
    cursor: pointer;
}
.hero-banner-button :hover{
    background-color: #404BBF;
}
.hero-banner-button :focus{
    background-color: #404BBF;
}
/* hero-banner section end */

/* benefits section start */

.benefits {}

.benefits-list-item {}

.benefits-list {}

.benefits-title {
    color: #2e2f42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.benefits-list-item-text {
    color: #434455;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* benefits section end */

/* our team secrion start */

.ourteam {
    background-color: #F4F4FD;
}

.ourteam-main-title {
    color: #2e2f42;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.ourteam-list {
    background-color: #FFFFFF
}

.ourteam-list-item {
}

.ourteam-list-item-image{}

.ourteam-title {
    color: #2e2f42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.ourteam-list-item-text {
    color: #434455;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* our team secrion end */

/* our portfolio section start */
.ourportfolio {}

.ourportfolio-main-title {
    color: #2e2f42;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.ourportfolio-list {}

.ourportfolio-list-item {}

.ourportfolio-list-item-image{}

.ourportfolio-title {
    color: #2e2f42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.ourportfolio-list-item-text {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* our portfolio section end */

/* fotter/bottom section start */
.bottom {
    background-color: #2e2f42;
    
}

.bottom-logo {
    font-family: "Raleway"; sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #4D5AE5;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
}

.bottom-logo-color{
    font-weight: 700;
    color: #f4f4fd;
    
}

.bottom-text {
    color: #f4f4fd;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em
}

/* fotter/bottom section end */