body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffff;
     
}

/* reset */
h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}
ul li{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: #2E2F42;
}


/* common */

.container{
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}


/* header */


/*navigation section start*/

.header{
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container{
    display:flex;
    align-items: center;
    justify-content: space-between;
        height: 72px;
}

.header-navigation{
    display: flex;
    align-items: center;
}


.header-navigation-logo {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #4D5AE5;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    padding: 24px 0;
    margin-right: 76px;
}

.header-navigation-logo-color{
    font-weight: 700;
    color: #2E2F42;
    
}

.header-navigation-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.header-navigation-list-item {
    font-weight: 500;
    color: #2E2F42;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em
}

.header-navigation-list-item-link {
    display: block;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-navigation-list-item-link.current{
    position: relative;
    color: #404bbf
}

.header-navigation-list-item-link.current::after{
    content: '';

    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
}
.header-contacts {
    font-style: normal;
    margin-left: auto;
}

.header-contacts-list {
     display: flex;
     align-items: center;
     gap: 40px;
    
}


.header-navigation-list-item-link:hover,
.header-navigation-list-item-link:focus,
.header-navigatiot-list-item-link:hover,
.header-navigatiot-list-item-link:focus,
.header-navigatiot-list-item-link.current {
    color: #404bbf;
}

.header-contacts-list-item-adress {
    font-weight: 400;
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em; 
    display: block;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contacts-list-item-adress:hover,
.header-contacts-list-item-adress:focus {
    color: #404bbf;
}

/* navigation section end */

/* hero-banner section start */

.hero-banner{
    background-color: #2E2F42;
    padding: 188px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/peopleoffice.jpg);
    max-width: 1440px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
}
.hero-banner-title{
    color: #FFFFFF;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    
    max-width: 496px;
    margin-bottom: 48px;
}

.hero-banner-button{
    font-family: "Roboto", sans-serif;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #4D5AE5;
    cursor: pointer;
    border-radius: 4px;
    padding: 16px 32px;
    border: none;
    min-width: 169px;
    display: block;
    margin: 0 auto;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-banner-button:hover,
.hero-banner-button:focus {
    background-color: #404BBF;
}

/* hero-banner section end */

/* benefits section start */

.benefits {
    background-color: #ffff;
    padding: 120px 0;
}
.visually-hidden{
  
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
     overflow: hidden;
 
}

.svg-images{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
}
.benefits-list {
    display: flex;
    gap: 24px;
    padding: 0;
    /* justify-content: space-between; */
   
    
}

.benefits-list-item {
    flex-basis: calc((100% - 72px) / 4);
}

.benefits-list-item-title {
    color: #2e2f42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.benefits-list-item-text {
    color: #434455;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* benefits section end */

/* our team secrion start */

.ourteam {
    background-color: #F4F4FD;
    padding: 120px 0;
}



.ourteam-main-title {
    color: #2e2f42;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.ourteam-list {
    display: flex;
        flex-wrap: wrap;
        gap: 24px;
        justify-content: center;
        padding: 0;
        margin: 0;
}

.ourteam-list-item {
    background-color: #FFFFFF;
    
    border-radius: 0 0 4px 4px;
    box-shadow:
        0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
    width: calc((100% - 72px) / 4);
    text-align: center;
    overflow: hidden;
}

.ourteam-list-item-image{
    width: 100%;
        height: auto;
        display: block;
}

.ourteam-container{
    padding: 32px 0;
}

.ourteam-title {
    color: #2e2f42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.ourteam-list-item-text {
    color: #434455;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.socials-list{
    display: flex;
    justify-content: center;
    gap: 24px;

}

.social-item{
    width: 40px;
    height: 40px;
}

.social-link{
    width: 100%;
     height: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);    
}
.social-link:hover,
.social-link:focus {
    background-color: #404bbf;
}
/* our team secrion end */

/* our portfolio section start */
.ourportfolio {
    padding: 120px 0;
}

.ourportfolio-main-title {
    color: #2e2f42;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.ourportfolio-list {
    display: flex;
        flex-wrap: wrap;
        gap: 48px 24px;
        padding: 0;
        margin: 0;
        justify-content: center;
}

.ourportfolio-list-item {
    background-color: #ffffff;
        /* box-shadow:
            0px 2px 1px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16),
            0px 1px 6px rgba(46, 47, 66, 0.08); */
        width: calc((100% - 48px) / 3);
       
        overflow: hidden;
        
}

.ourportfolio-list-item-image{
    width: 100%;
        height: auto;
        display: block;
}

.ourportfolio-container{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.ourportfolio-title {
    color: #2e2f42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
   
}

.ourportfolio-list-item-text {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* our portfolio section end */

/* fotter/bottom section start */
.bottom {
    background-color: #2e2f42;
    padding: 100px 0;
    
}
.botom .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}
.bottom-logo {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #4D5AE5;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    display: inline-block;
    margin-bottom: 16px;
}


.bottom-logo-color{
    font-weight: 700;
    color: #f4f4fd;
    
}

.bottom-text {
    color: #f4f4fd;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 264px;
    margin: 0;
}

/* fotter/bottom section end */